<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>About:</strong>
  <%= @topic.about %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@topic.user_id).uid %>
</p>
<% if user_signed_in? && current_user.id == @topic.user_id %>
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
<% end %>
<%= link_to 'Back', topics_path %>

<h2>Toots</h2>
  <div id="toots">
    <%= render @topic.toots %>
  </div>

<% if user_signed_in? && current_user.id == @topic.user_id %>
  <%= render 'toots/new', topic: @topic %>
<% end %>